.EditorCompWrapper {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.TablistWrapper {
    height: 7%;
    max-height: max-content;
    /* border: 1px solid white; */
    padding: .3rem 1rem;
}

.monacoEditorWrapper {
    flex: 1;
}

.terminalWrapper {
    height: 30%;
    /* border: 1px solid white; */
    box-sizing: border-box;
    overflow: auto;
}