.EditorCompWrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-around;
}

.TablistWrapper {
    height: max-content;
    padding: 0 1rem;
}

.containerDiv {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.terminalWrapper {
    height: max-content;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.closeTermDiv {
    border-bottom: 1px solid #696969;
}

.titleWrapper.terminal {
    background-color: #696969;
}


.terminalDiv {
    overflow: auto;
    height: 250px;
}


.myInlineDecoration {
	color: white !important;
	cursor: pointer;
	background-color: #679177;
}

.myLineDecoration {
	background: #679177;
	width: 5px !important;
	margin-left: 3px;
}