

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  /* border: 1px solid red; */
}




.lowerSections {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}