.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
}


.lowerSections {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: calc(100vh - 50px);
  display: flex;
  flex-grow: 1;
  background-color: #1E1E1E;
}

.editPrevDiv {
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: relative;
}

.editorBarWrapper {
  width: 100%;
  flex: 1;
  height: 100%;
}


.splitWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.previewTabWrapper {
  width: 100%;
  flex: 1;
  height: 100%;
}








/* Small device Alert */

.responsive_message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.904);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
  padding: 1rem;
  position: relative;
}

.bg_imgCont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1;

  position: absolute;
  top: 0;
}
.bg_logo {
  opacity: 0.4;
}

.responsive_message p {
  font-size: 1.5rem;
  padding: 1rem;
  margin: 0;
  z-index: 5;

  
  color: #333;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1),
}

/* Media queries for responsive design */
@media (max-width: 768px) {
  .responsive_message p {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .responsive_message p {
    font-size: 1rem;
    padding: 0.5rem;
  }
}