.sampleDragBar {
    flex-shrink: 0;
    width: 5px;
    background-color: #133f81; /* Light gray */
    cursor: col-resize;
    transition: background-color 0.15s ease-in-out;
  }
  
  .sampleDragBar.dragging,
  .sampleDragBar:hover {
    background-color: #63B3ED; /* Light blue */
  }
  
  .horizontal {
    height: 5px;
    width: 100%;
    cursor: row-resize;
  }
  