.themeSelectorCont {
    width: 40vw;
    height: max-content;
    border-radius: 13px;
    background-color: #2b2b2b;
    box-sizing: border-box;

    box-shadow: 1px -2px 80px -13px rgba(0, 0, 0, 0.53);
    -webkit-box-shadow: 1px -2px 80px -13px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 1px -2px 80px -13px rgba(0, 0, 0, 0.53);
}

.searchCont {
    border-bottom: 1px solid rgba(160, 160, 160, 0.284);
    width: 100%;
    padding: .5rem .3rem;
}

.searchBar {
    width: 100%;
    padding: .4rem 1rem;
    background-color: transparent;
    outline: none;
    color: rgb(226, 226, 226);
    border: none;
    font-size: 13px;
}

.themesList {
    max-height: 400px;
    overflow: auto;
    box-sizing: border-box;
}


.themesList::-webkit-scrollbar-track {
    background: transparent; /* Color of the tracking area */
}

/* Customize the scrollbar thumb */
.themesList::-webkit-scrollbar-thumb {
    background-color: #1d1d1d; /* Color of the scroll thumb */
    border-radius: 20px; /* Roundness of the scroll thumb */
}

/* Optional: Customize the scrollbar width */
.themesList::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
}